<nav class="dagselectie">
    @Html.ActionLink("1. Order", "Index", "Cart")
    @Html.ActionLink("2. Payment", "Betaal", "Cart")
    @Html.ActionLink("3. Confirmation", "Afgerond", "Cart")
    
</nav>
    