@using ProjectIHFFv2.Models;

@model RestaurantDetailPresentationModel

<h2>@Model.Event.naam</h2>


<img src="@Model.Event.afbeelding_url" />


<p>@Model.Event.beschrijving</p>


@foreach(Film f in Model.Films)
{
    <img src="@f.Event.afbeelding_url" />
}
