<header>
    <p class="breadcrumb">@Html.ActionLink("Home","Index", "Home") >  @Html.ActionLink("Discover Haarlem","ViewRoute","Culture") </p>
    <h1>Create your personal route</h1>
</header>
<section id="customfunction">
    <div class="routegenerator">
        <div id="left-panel">
            <div id="startselectie">
                <p class="selectie">Start: <br /></p>
                <select id="start">
                    <option value="Philharmonie, Haarlem,Lange Begijnestraat 11, 2011 HH Haarlem">Philharmonie, Haarlem</option>
                    <option value="Lange Begijnestraat 9, 2011 HH Haarlem">Toneelschuur,Haarlem</option>
                    <option value="Zijlsingel 2, 2013 DN Haarlem">Patronaat,Haarlem</option>
                    <option value="Zijlvest 41-43, 2011 VB Haarlem">Pathé,Haarlem</option>
                    <option value="Klokhuisplein 9, 2011 HK Haarlem">Stempels Brasserie, Haarlem</option>
                    <option value="Nieuw Heiligland 3, 2011 EM Haarlem">Restaurant De Ark,Haarlem</option>
                    <option value="Warmoesstraat 5, 2011 HN Haarlem">Dijkers,Haarlem</option>
                    <option value="Hoge Duin en Daalseweg 6, 2061 AG Bloemendaal">De Uitkijk,Bloemendaal</option>
                    <option value="Spaarne 96, 2011 CL Haarlem">Ratatouille Food & Wine, Haarlem</option>
                    <option value="Kerkplein 16A, 2061 JD Bloemendaal">Restaurant Terra, Bloemendaal </option>
                </select>
            </div>
            <div id="waypointselectie">
                <p class="selectie">
                    Waypoints:<br />
                    <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> 
                </p>             
                <select multiple id="waypoints">
                    <option value="Spaarne 16, 2011 CH Haarlem">Teylers Museum, Haarlem</option>
                    <option value="Barteljorisstraat 19, 2011 RA Haarlem">Corrie Ten Boomhuis, Haarlem</option>
                    <option value="Groot Heiligland 62, 2011 ES Haarlem">Frans Hals Museum, Haarlem</option>
                    <option value="Grote Markt 16, 2011 RD Haarlem">De Hallen, Haarlem</option>
                    <option value="Schotersingel 2, 2021 GE Haarlem">Het Dolhuys, Haarlem</option>
                    <option value="Grote Markt 22, 2011 RD Haarlem">Sint Bavo Kerk, Haarlem</option>
                    <option value="Bakenesserstraat 26, 2011 JJ Haarlem">Laurens Janszoon Coster Monument, Haarlem</option>
                    <option value="Kruisstraat 44G, 2011 PZ Haarlem">Hofje van Oorschot, Haarlem</option>
                    <option value="Leidsevaart 146, 2014 HE Haarlem">Kathedrale Basiliek Sint Bavo, Haarlem</option>
                    <option value="Philip Frankplein,2019 HB Haarlem">Joods Monument, Haarlem</option>
                    <option value="Kenaupark,2011 MP Haarlem"> Hannie Schaft Monument, Haarlem</option>
                    <option value="Schapenplein 1,2011 XZ Haarlem">Voormalige Janskerk,Haarlem</option>
                    <option value="Oostvest 60, 2011 AK Haarlem">De Waag, Haarlem</option>
                    <option value="Zuiderhoutlaan 1, 2000 AA Haarlem">Monument Coster, Haarlem</option>
                    <option value="Klein Heiligland,2011 EB Haarlem">Klein Heiligland, Haarlem</option>
                    <option value="Lange Begijnestraat 11, 2011 HH Haarlem">Philharmonie, Haarlem</option>
                    <option value="Zijlsingel 2, 2013 DN Haarlem">Patronaat,Haarlem</option>
                    <option value="Wilsonplein 23,2011 VG Haarlem">Stadschouwburg, Haarlem</option>
                </select>
            </div>
            <div id="eindselectie">

                <p class="selectie">End: <br /></p>
                <select id="end">
                    <option value="Lange Begijnestraat 11, 2011 HH Haarlem">Philharmonie, Haarlem</option>
                    <option value="Lange Begijnestraat 9, 2011 HH Haarlem">Toneelschuur,Haarlem</option>
                    <option value="Zijlsingel 2, 2013 DN Haarlem">Patronaat,Haarlem</option>
                    <option value="Zijlvest 41-43, 2011 VB Haarlem">Pathé,Haarlem</option>
                    <option value="Klokhuisplein 9, 2011 HK Haarlem">Stempels Brasserie, Haarlem</option>
                    <option value="Nieuw Heiligland 3, 2011 EM Haarlem">Restaurant De Ark,Haarlem</option>
                    <option value="Warmoesstraat 5, 2011 HN Haarlem">Dijkers,Haarlem</option>
                    <option value="Hoge Duin en Daalseweg 6, 2061 AG Bloemendaal">De Uitkijk,Bloemendaal</option>
                    <option value="Spaarne 96, 2011 CL Haarlem">Ratatouille Food & Wine, Haarlem</option>
                    <option value="Kerkplein 16A, 2061 JD Bloemendaal">Restaurant Terra, Bloemendaal </option>
                </select>
            </div>
            <div id="submitroute">
                <input type="submit" id="submit"  value="Send" class="btn btn-info btn-view">
            </div>
        </div>
    </div>
    <section class="map">
        <div id="map" style="width:100%;height:100%"></div>
    </section>
    <section id="right-panel"></section>
   
</section>
@Html.Partial("~\\views\\shared\\_RouteGenerator.cshtml");





