body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #CCC;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #CCC;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
    float: left;
}

.validation-summary-valid {
    display: none;
}

footer {
    background-color: black;
    max-width: 2000px;
    max-height: 300px;
    padding-top: 7px;
    padding-bottom: 7px;
    min-width: 1000px;
   /* position: fixed; */
    bottom: 0;
    width: 100%;
}

    footer h4 {
        color: white;
        display: inline;
        margin-left: 8%;
        margin-right: 16%;
        margin-top: 50px;
    }

    footer h5 {
        color: white;
        font-size: 12px;
        margin-left: 40px;
    }

    footer li {
        list-style: none;
    }

    body > div:nth-child(2) > footer > ul 
    {
        margin-left: 2%;
    }

/* CSS voor programma samenstellen START*/
.TabelCss {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 4%;
    margin-right: 1%;
    margin-top: 11%;
    margin-bottom: 300px;
}

.toevoegenGelukt {
    color: #4F8A10;
    background-color: #DFF2BF;
    width: 300px;
    font-size: 1.2em;
    margin-top: 1%;
    margin-left:105px;
    border-radius: 10px;
    padding: 1%;
}

.toevoegenNietGelukt {
    color: #D8000C;
    background-color: #FFBABA;
    width: 400px;
    font-size: 1.2em;
    margin-left:105px;
    margin-top: 1%;
    border-radius: 10px;
    padding: 1%;
}

.btn-addOtherEvent {
    background-color: #fffde9;
    border-color: #ccc;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    margin: 0px 10px 0px 105px;
}

.btn-addOtherEvent:hover, .btn-addOtherEvent:focus
{
    background-color: #000;
    color: #fffde9;
}

.wishlistItem {
    background-color: black;
    border: 1px solid black;
    padding: 5px;
    color: white;
}

.deleteImageWishlist {
    float: right;
}

.TabelKolomCss {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.TabelRijCssOneven {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #e8e8e8;
    color: black;
    padding: 5px;
}

.TabelRijCssEven {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #ffffff;
    color: black;
    padding: 5px;
}

th {
    border: 1px solid black;
    padding-left:5px;
    padding-right: 2px;
    border-collapse: collapse;
}

/* CSS voor programma samenstellen EIND*/

.home-img-top {
    max-height: 500px;
    min-height: 500px;
    float: left;
}

.home-img-bottom {
    max-height: 300px;
    min-height: 300px;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    margin-bottom: 300px;
    width: 34%;
}

.home-img-bottom-last {
    width: 28%;
    height: 300px;
    margin-top: 6px;
    margin-bottom: 300px;
}

#image1 {
    position: relative;
    width: 65%;
    float: left;
}

#image2 {
    position: relative;
    float: left;
    width: 30%;
    padding-left: 62px;
}

#image3 {
    position: relative;
    width: 101%;
    float: left;
}

#image1tekst {
    position: absolute;
    top: 77%;
    left: 0;
}

#image2tekst {
    position: absolute;
    top: 77%;
    left: 14%;
}

#image3tekst {
    position: absolute;
    top: 90%;
    left: 0;
}

h2 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
/* Overview */
body > div:nth-child(2) > section.overview {
    margin-top: 181px;
    margin-bottom: 300px;
    margin-left: 1%;
}

    body > div:nth-child(2) > section.overview > section.itemOverview {
        /* margin: 0 auto; */
        margin-bottom: 5px;
        margin-left: 105px;
        width: 80%;
        background-color: #fff;
        height: 130px;
    }

body > div:nth-child(2) > header {
    float: left;
    width: 100%;
    margin-top: 35px;
    margin-left: 1%;
}

body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-header > a > img {
    margin-left: 8%;
}

    body > div:nth-child(2) > header > .dagselectie {
        border-radius: 20px;
        background-color: #2E2E2E;
        height: 40px;
        width: 787px;
        margin: 25px 0px 0px 105px;
    }

        body > div:nth-child(2) > header > .dagselectie > a {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            color: #FFF;
            margin: 25px;
            vertical-align: middle;
            line-height: 3;
            padding: 0px 20px 0px 20px;
            text-decoration: none;
        }

            body > div:nth-child(2) > header > .dagselectie > a:hover {
                color: #E82830;
            }

body > div:nth-child(2) > section > section > .film_image {
    float: left;
}

body > div:nth-child(2) > section > section > .film_text {
    text-align: left;
    display: block;
    margin: auto;
    width: 75%;
}

body > div:nth-child(2) > section > section > .film_text {
    position: relative;
}

body > div:nth-child(2) > section > section > div.film_text > header {
    padding-top: 5px;
    height: 90px;
}

body > div:nth-child(2) > section > section > .film_text > .beschrijving {
    padding-bottom: 5px;
    height: 50px;
}

body > div:nth-child(2) > section > section > .film_text > .item-button {
    position: absolute;
    float: right;
       top: 33%;
    bottom: 5%;
    left: 95%;
    right: 5%;
}

.btn-view {
    background-color: #E82830;
    color: #fff;
    border-radius: 20px;
    border-color: #E82830;
    font-weight: bold;
   
}

.btn-view-yellow 
{
    background-color: #fffde9;
    border-color: #ccc;
    color: #000;
    font-weight: bold;
    border-radius: 20px;

}

.btn-view-yellow:hover, .btn-view-yellow:focus
{
    background-color: #000;
    color: #fffde9;
}

    .btn-view:hover,
    .btn-view:focus {
        background-color: #fff;
        border-color: #E82830;
        color: #E82830;
        font-weight: bold;
    }

/* Detailpage */
body > div:nth-child(2) > section.detail {
    padding-right: 330px;
    overflow: hidden;
    margin-bottom: 300px;
    margin-left: 1%;
}

body > div:nth-child(2) > section > section.detail-left {
    float: left;
    width: 87%;
    margin-left: 11%;
    background-color: #fff;
}

body > div:nth-child(2) > section > section.detail-right {
    float: right;
    margin-right: -288px;
    width: 300px;
    background-color: #b3b3b3;
}

body > div:nth-child(2) > section > section.detail-left,
body > div:nth-child(2) > section > section.detail-right {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}

    body > div:nth-child(2) > section > section.detail-left > div {
        overflow: hidden;
        margin-bottom: 1em;
        min-height: 8em;
        max-height: 32em;
        background-color: #fff;
    }

        body > div:nth-child(2) > section > section.detail-left > div > div.detail-image {
            float: left;
            width: 25%;
            height: 300px;
            margin-bottom: 5px;
        }


        body > div:nth-child(2) > section > section.detail-left > div > div.details {
            float: left;
            width: 75%;
            /* margin-left: -1px; */
            padding-top:1%;
            padding-left: 1%;
            /* padding: 10px; */
            margin-bottom: 5px;
            height: 300px;
        }





        body > div:nth-child(2) > section > section.detail-left > div.detail-image {
            float: left;
            width: 25%;
            height: 300px;
            margin-bottom: 5px;
        }

        body > div:nth-child(2) > section > section.detail-left > div.details {
            float: left;
            width: 75%;
            /* margin-left: -1px; */
            padding-left: 41px;
            /* padding: 10px; */
            margin-bottom: 5px;
            height: 300px;
        }





        body > div:nth-child(2) > section > section.detail-left > div.voorstellingen {
            float: left;
            width: 100%;
            background-color: #fff;
        }

            body > div:nth-child(2) > section > section.detail-left > div.voorstellingen > div.voorstelling {
                float: left;
                width: 100%;
                height: 8em;
                margin-bottom: 5px;
                border-top: 1px solid #333;
                border-bottom: 1px solid #333;
            }

                body > div:nth-child(2) > section > section.detail-left > div.voorstellingen > div.voorstelling > div.voorstelling-left {
                    float: left;
                    width: 15%;
                    height: 110px;
                    font-weight: bold;
                    background-color: #2E2E2E;
                    color: #E82830;
                }

                    body > div:nth-child(2) > section > section.detail-left > div.voorstellingen > div.voorstelling > div.voorstelling-left > p {
                        text-align: center;
                        vertical-align: middle;
                        line-height: 50px;
                        margin-top: 27px;
                    }


                body > div:nth-child(2) > section > section.detail-left > div.voorstellingen > div.voorstelling > div.voorstelling-midden {
                    float: left;
                    width: 39%;
                    height: 110px;
                    border-top: 0.5px initial #333;
                    border-bottom: 0.5px initial #333;
                }

                    body > div:nth-child(2) > section > section.detail-left > div.voorstellingen > div.voorstelling > div.voorstelling-midden > p:nth-child(1) {
                        font-weight: bold;
                    }

                body > div:nth-child(2) > section > section.detail-left > div.voorstellingen > div.voorstelling > div.voorstelling-right {
                    float: left;
                    width: 46%;
                    height: 110px;
                    border-top: 0.5px initial #333;
                    border-bottom: 0.5px initial#333;
                }

                    body > div:nth-child(2) > section > section.detail-left > div.voorstellingen > div.voorstelling > div.voorstelling-right > form > input {
                        float: left;
                        margin-top: 27px;
                        margin-left: 10px;
                        margin-right: 10px;
                        vertical-align: middle;
                        border-top: 1px initial #333;
                        border-bottom: 1px initial #333;
                    }

    body > div:nth-child(2) > section > section.detail-right > h3 {
        color: #E82830;
        font-weight: bold;
        /* margin: 0 auto; */
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
/*Cultuur & Restaurants cross-selling*/
    body > div:nth-child(2) > section > section.detail-right > section.cultuuritems
     {
        float: left;
        margin: 0 auto;
        width: 100%;
    }

        body > div:nth-child(2) > section > section.detail-right > section.cultuuritems > section.cultuuritem 
         {
            width: 100%;
            margin: 5px 5px 40px 0px;
            background-color: #b3b3b3;
        }

    body > div:nth-child(2) > section > section.detail-right > section > section > p {
        margin-left: 38px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 80%;
    }

    body > div:nth-child(2) > section > section.detail-right.col > section.cultuuritems > section.cultuuritem > div {
        float: right;
        margin-right: 40px;
        margin-bottom: 5px;
    }

.btn-link {
    float: right;
    background-color: #fffde9;
    border-color: #ccc;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
}

.btn-link:hover
{
    background-color: #000;
    color: #fffde9;
}
/* Homepage link weergave*/
.Homepagelink {
    color: #fff;
    text-decoration: none;
}

    .Homepagelink:hover,
    .home-img-top:focus {
        color: #E82830;
        text-decoration: none;
    }



/*xxx*/
body > div:nth-child(2) > header > nav > a.current, body > div:nth-child(2) > div > div > div.navbar-collapse.collapse > ul > li > a , 
body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li > a.current {
    font-weight: bold;
    color: #E82830;
}

/* map route generator*/
body > div:nth-child(2) > #customfunction {
    float: left;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
    /*map route generator: selector*/
    body > div:nth-child(2) > #customfunction > div.routegenerator {
        float: left;
        height: 100%;
        width: 27%;
    }

#left-panel {
    float: left;
    margin: 10px 0px 0px 111px;
}

p.selectie {
    font-weight: bold;
}

#start, #end {
    width: 17em;
}




#right-panel i {
    font-size: 12px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

    body > div:nth-child(2) > #customfunction {
        float: left;
        width: 100%;
        height: 100%;
    }

        body > div:nth-child(2) > #customfunction > div.routegenerator {
            float: left;
            height: 100%;
        }

    body > div:nth-child(2) > section.route-generator > #left-panel {
        float: left;
    }

    body > div:nth-child(2) > section > section.map {
        float: left;
        width: 500px;
        height: 500px;
    }

#map {
    height: 100%;
    float: left;
    width: 100%;
    height: 100%;
}

#right-panel {
    margin: 20px;
    border-width: 2px;
    width: 20%;
    height: 400px;
    float: left;
    text-align: left;
    padding-top: 0;
}

#directions-panel {
    margin-top: 10px;
    background-color: #FFEE77;
    padding: 10px;
}

.winkelmandje {
    background-color: #fff;
    float: left;
    margin-left: 20px;
    width: 18%;
    margin-top: 3%;
    margin-bottom:300px; 
    padding-bottom: 99999px;
    display: inline-block;
}

#winkelmandjeimg {
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

#waypoints {
    height: 31em;
    width: 17em;
}

#submitroute > input {
    margin-top: 10px;
}
/*route generator: map*/
body > div:nth-child(2) > section > section.map {
    float: left;
    width: 35%;
    height: 44em;
    margin: 10px 0px 0px 0px;
    margin-left: 2%;
}

#map {
    width: 100%;
    height: 44em;
    position: relative;
    overflow: hidden;
}
/*route generator: directions*/
#right-panel {
    margin: 11px;
    margin-top: 10px;
    width: 33%;
    height: 44em;
    float: left;
    text-align: left;
    padding-top: 0;
    /* margin-top: 10px; */
    overflow: scroll;
    direction: ltr;
}

#checkout
{
    display:flex;
    background-color: white;
    max-width: 20%;
    padding: 1%;
    margin-left:7%; 
}

.confirmation-p
{
    margin-left:4%; 
}

.afgerond-section
{
    background-color:white; 
    margin-left: 7%;
    width: 62%;
    margin-bottom:300px; 
}

#scheiding-afgerond
{   margin-left:5%; 
    margin-right:5%;
    color:#2E2E2E; 
    border-color:#2E2E2E;
}

.btn-cart {
    background-color: #E82830;
    color: #fff;
    border-radius: 20px;
    border-color: #E82830;
    font-weight: bold;
   position:absolute; 
}


    .btn-cart:hover,
    .btn-cart:focus {
        background-color: #fff;
        border-color: #E82830;
        color: #E82830;
        font-weight: bold;
    }

#cartitem-header{
    text-align:center; 
    line-height:101%; 
}

.home-header{
    color: #E82830;
     text-align: center;
    margin-top: 18%;
    line-height: 101%;
    margin-left:6%; 
}

.home-banner{
    background-color:#ccc; 
    position:relative; 
    width:100%; 
    height: 15%; 
    
}

.homelogo{
    height:30%;
    width:24%; 
   
}

.bannerimg{
    width: 89%; 
    display:block;
    border:0; 
}

.hometekst{
    float:right; 
    width:80%;
    background-color:#fffde9; 
    margin-right:6%;

}

.hometekst-left{
    float:left;
    width:80%;
    background-color:#fffde9; 
    margin-left:6%; 
}

body > div:nth-child(2) > div > div > div.hometekst-left > h2:nth-child(1)
 {
        text-align: center;
    margin-top: 18%;
    line-height: 101%;
}

body > div:nth-child(2) > div > div > div.hometekst-left > h2:nth-child(2){
    text-align: center;
    line-height: 101%;
}
.middenimg{
    display:block;
    margin: 0 auto; 
}

.donkerder{
    display:inline-flex;
     
}
.bannerlinks{
     color: #2e2e2e;
    margin-left: 2%;
    line-height: 2.2;

}

.banner2{
    width:100%;
    margin-left: 6%; 
    margin-right: 6%; 
    margin-top:1%; 
}

.bovenstefoto{
    width:50%; 
}

.bovenstefotoban{
    width:100%; 
}
.bovenstefoto2{
    width:43.8%; 
}
.driefotos {
    padding: 0;
    margin: 0;
    display: flex;
}
.topimage{

    height:100%;
    position:absolute; 
    width:100%; 
}

.banner{
    margin-left:6%; 
    margin-right:6%; 
   margin-top:4%; 

    width:100%;
    height:15%; 
}

.innerbanner
 {
   background-color: white;
    height: 250px;
    margin-right: 13%;
}
.banner img{
    float:left; 
    width:35%;
    height:100%; 

}

.banner h1{
    position:relative; 
    padding:1%; 
    margin-right:6%;
    margin-left:1%;
    padding-left: 35%;
}

.banner p{
    position:relative;
    width:88%;
   margin-right:6%;
   font-size:150%; 
   margin-left:1%; 
   padding-left: 35%;
}

.homeArticles
{
    overflow: hidden;
    margin-left: 6%;
    margin-right: 6%;
    width: 90%;
}

body > div:nth-child(2) > div:nth-child(5){
    margin-bottom: 300px;
}
.homeart{
    text-align:center;
    color:#E82830;
    padding:2%;
}

.articlehome{
    background-color: #fff;
    float: left;
   /* margin-left: 1%; */
    margin-right: 1%;
    width: 47.8%;
    margin-top: 1%;
    margin-bottom: 300px;
    display: inline-block;
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}

.homeArticles > .articlehome:nth-child(2)
{
    margin-left: 0%;
}
.articletekst{
   line-height: 160%;
    margin-left: 1%;
    margin-right: 2%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 16px;
}

/*buttons homepage*/
body > div:nth-child(2) > .homeArticles> .articlehome > a
{
    position: relative;
    left: 21%;
}

/*Shoppingcartitems*/
/*Empty cart*/
.emptyCart 
{
       margin-left: 8%;
    overflow: hidden;
    margin-right: 6%;
    margin-top: 2%;
    width: 90%;
    height: 500px;
    margin-bottom: 300px;
}

.emptyCartHeader  , .emptyCartHeader >  .btn-addOtherEvent
{
    margin-left: 1%;
}

body > div:nth-child(2) > div.emptyCart > a
{
    margin-left: 1%;
}

/*Stap 1*/
.winkelmanditems 
{
    margin-left: 8%;
    overflow: hidden;
    margin-right: 6%;
    margin-top: 2%;
    width: 90%;
    height: 500px;
    margin-bottom: 300px;
}

.cartitem-header
{
    color: #E28380;
    text-align: center;
    height: 40px;
    line-height: 20px;
}

.winkelmanditemtekst 
{
    margin-left: 5%;
    margin-top: 3%;
}

.shoppingcartButtons 
{
    margin-top: 1%;
}

/*Stap 2*/
.gegevensInvoer
 {
    margin-left: 8%;
    margin-top: 2%;
    overflow: hidden;
    margin-right: 6%;
    width: 70%;
    height: 500px;
    margin-bottom: 300px;
    background-color: white;
}

.itemsInLijst 
{
    float: left;
    width: 40%;
}

.header-afrekenproces
{
    margin-left: 4%;
    color: #E28380;
}

.itemsInLijst > .itemsInL > p.itemsInLijstP
{
    margin-left: 4%;
}

p.totaalprijs
{
    font-weight: bold;
    float: right;
    margin-right: 5%;
}
.gegevensForms 
{
    float:right;
    width: 60%;
}

#customconfirmation
{
        float: left;
    position: absolute;
    top: 187px;
    left: 266px;
}

.validationsummary 
{
        float: left;
    width: 60%;
}

#checkout 
{
        float: left;
    width: 60%; 
    margin-left: -1%;
}

