body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #CCC;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #CCC;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

footer {
    background-color: black;
    max-width: 2000px;
    max-height: 300px;
    padding-top: 7px;
    padding-bottom: 7px;
    min-width: 1000px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

    footer h4 {
        color: white;
        display: inline;
        margin-left: 12%;
        margin-right: 16%;
        margin-top: 50px;
    }

    footer h5 {
        color: white;
        font-size: 12px;
        margin-left: 40px;
    }

    footer li {
        list-style: none;
    }

/* CSS voor programma samenstellen START*/
.TabelCss {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.TabelKolomCss {
    border: 1px solid black;
    border-collapse: collapse;
}

.TabelRijCssOneven {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: grey;
}

.TabelRijCssEven {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
}

.home-img-top {
    max-height: 500px;
    min-height: 500px;
    float: left;
}

.home-img-bottom {
    max-height: 300px;
    min-height: 300px;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    margin-bottom: 300px;
    width: 34%;
}

.home-img-bottom-last {
    width: 28%;
    height: 300px;
    margin-top: 6px;
    margin-bottom:300px; 
}

#image1 {
    position: relative;
    width: 65%;
    float: left;
}

#image2 {
    position: relative;
    float: left;
    width: 30%;
    padding-left: 62px;
}

#image3{
    position:relative;
     width:101%; 
     float: left; 
}

#image1tekst {
    position: absolute;
    top: 77%;
    left: 0;
}

#image2tekst {
    position: absolute;
    top: 77%;
    left: 14%;
}

#image3tekst{
    position:absolute; 
    top: 90%; 
    left: 0; 
}

h2 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
/* Overview */
body > div:nth-child(2) > header > .dagselectie {
    border-radius: 20px;
    background-color: #2E2E2E;
    height: 40px;
    width: 787px;
    margin: 25px 0px 0px 105px;
}

    body > div:nth-child(2) > header > .dagselectie > a {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #FFF;
        margin: 25px;
        vertical-align: middle;
        line-height: 3;
        padding: 0px 20px 0px 20px;
        text-decoration: none;
    }

        body > div:nth-child(2) > header > .dagselectie > a:hover {
            color: #E82830;
        }

body > div:nth-child(2) > section > section {
    background-color: #fff;
    margin: 10px 0px 0px 105px;
    width: 80%;
    height: 120px;
}

    body > div:nth-child(2) > section > section > .film_image {
        float: left;
        height: 120px;
    }

    body > div:nth-child(2) > section > section > .film_text {
        text-align: left;
        display: block;
        margin: auto;
        width: 75%;
        height: 120px;
    }

    body > div:nth-child(2) > section > section > .film_text {
        position: relative;
    }

    body > div:nth-child(2) > section > section > div.film_text > header {
        padding-top: 5px;
        height: 70px;
    }

    body > div:nth-child(2) > section > section > .film_text > .beschrijving {
        padding-bottom: 5px;
        height: 50px;
    }

    body > div:nth-child(2) > section > section > .film_text > .item-button {
        position: absolute;
        float: right;
        top: 45px;
        bottom: 30px;
        left: 800px;
        right: 100px;
    }

.btn-view {
    background-color: #E82830;
    color: #fff;
    border-radius: 20px;
    border-color: #E82830;
    font-weight: bold;
}


    .btn-view:hover,
    .btn-view:focus {
        background-color: #fff;
        border-color: #E82830;
        color: #E82830;
        font-weight: bold;
    }

/* Detailpage */
body > div:nth-child(2) {
    float: left;
    width: 100%;
}


body > div:nth-child(2) > section.detail-left 
{
    float: left;
    width: 55%;
    height: 100%;
    margin-left: 105px;  
      background-color: #fff;
    font-family: 'Poppins', sans-serif;
}
body > div:nth-child(2) > section.detail-left > div.detail-image
{
         float: left;
    width: 25%;
    height: 300px;
    margin-bottom: 5px;
     
}


body > div:nth-child(2) > section.detail-left > div.details
{
     float: left;
    width: 75%;
    /* margin-left: -1px; */
    padding-left: 41px;
    /* padding: 10px; */
    margin-bottom: 5px;
    height: 300px;
}
     


    body > div:nth-child(2) > section.detail-left {
        float: left;
        width: 55%;
        height: 100%;
        margin-left: 105px;
        background-color: #fff;
        font-family: 'Poppins', sans-serif;
    }

        body > div:nth-child(2) > section.detail-left > div.detail-image {
            float: left;
            width: 25%;
            height: 300px;
            margin-bottom: 5px;
        }

        body > div:nth-child(2) > section.detail-left > div.details {
            float: left;
            width: 75%;
            /* margin-left: -1px; */
            padding-left: 41px;
            /* padding: 10px; */
            margin-bottom: 5px;
            height: 300px;
        }





body > div:nth-child(2) > section.detail-left > div.voorstellingen {
    float: left;
    width: 100%;
}

    body > div:nth-child(2) > section.detail-left > div.voorstellingen > div.voorstelling {
        float: left;
        width: 100%;
        height: 110px;
        margin-bottom: 5px;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    }

        body > div:nth-child(2) > section.detail-left > div.voorstellingen > div.voorstelling > div.voorstelling-left {
            float: left;
            width: 15%;
            height: 110px;
            font-weight: bold;
            background-color: #2E2E2E;
            color: #E82830;
        }

            body > div:nth-child(2) > section.detail-left > div.voorstellingen > div.voorstelling > div.voorstelling-left > p {
                text-align: center;
                vertical-align: middle;
                line-height: 50px;
                margin-top: 27px;
            }


        body > div:nth-child(2) > section.detail-left > div.voorstellingen > div.voorstelling > div.voorstelling-midden {
            float: left;
            width: 39%;
            height: 110px;
            border-top: 0.5px initial #333;
            border-bottom: 0.5px initial #333;
        }

            body > div:nth-child(2) > section.detail-left > div.voorstellingen > div.voorstelling > div.voorstelling-midden > p:nth-child(1) {
                font-weight: bold;
            }

        body > div:nth-child(2) > section.detail-left > div.voorstellingen > div.voorstelling > div.voorstelling-right {
            float: left;
            width: 46%;
            height: 110px;
            border-top: 0.5px initial #333;
            border-bottom: 0.5px initial#333;
        }

            body > div:nth-child(2) > section.detail-left > div.voorstellingen > div.voorstelling > div.voorstelling-right > form > input {
                float: left;
                margin-top: 27px;
                margin-left: 10px;
                margin-right: 10px;
                vertical-align: middle;
                border-top: 1px initial #333;
                border-bottom: 1px initial #333;
            }


body > div:nth-child(2) > section.detail-right {
    float: left;
    width: 35%;
    height: 100%;
    background-color: #999;
}

/* Homepage link weergave*/
.Homepagelink {
    color: #fff;
    text-decoration: none;
}

    .Homepagelink:hover,
    .home-img-top:focus {
        color: #E82830;
        text-decoration: none;
    }

section {
    margin-bottom: 300px;
}

/*xxx*/
body > div:nth-child(2) > header > nav > a.current
{
    font-weight: bold;
    color: #E82830;    
}

/* map route generator*/
    #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      body > div:nth-child(2) > #customfunction {
          float: left;
          width: 100%;
          height: 100%;
      }
       body > div:nth-child(2) >#customfunction > div.routegenerator
       {
           float:left;
           height: 100%;
       }
       body > div:nth-child(2) > section.route-generator > #left-panel 
       {
           float: left;

       }
      body > div:nth-child(2) > section > section.map
      {
          float: left;
          width: 500px;
          height:500px;
      }
      #map {
        height: 100%;
        float: left;
        width: 100%;
        height: 100%;
      }
      #right-panel {
        margin: 20px;
        border-width: 2px;
        width: 20%;
        height: 400px;
        float: left;
        text-align: left;
        padding-top: 0;
      }
      #directions-panel {
        margin-top: 10px;
        background-color: #FFEE77;
        padding: 10px;
      }

    .winkelmandje
    {
        background-color:#fff;
        float:left; 
        margin-left:20px; 
        width:15%; 

    }

    #winkelmandjeimg{
        text-align:center; 
        width:90%; 
        margin-left:5%; 
    }