
<div id="image1">
    <img height="500" src="~/Content/Images/Home1.png" class="home-img-top" />

    <h2 id="image1tekst"> <span>Experience the Highlights </span></h2>
</div>  

<div id="image2">
    <img height="500" src="~/Content/Images/Home2.png" class="home-img-top" />
    <h2 id="image2tekst"><span> Haarlem's specials</span> </h2>
</div>

<br />
<img src="~/Content/Images/Home3.png" class="home-img-bottom" />    <img src="~/Content/Images/Home4.png" class="home-img-bottom" />    <img src="~/Content/Images/Home5.png" class="home-img-bottom" />