
<div id="image1">
    <img height="500" src="~/Content/Images/Home1.png" class="home-img-top" />

    <h2 id="image1tekst"> <span>@Html.ActionLink("Experience the Highlights", "Index", "Highlight", new { @class = "Homepagelink" })  </span></h2>
</div>  

<div id="image2">
    <img height="500" src="~/Content/Images/Home2.png" class="home-img-top" />
    <h2 id="image2tekst"><span> @Html.ActionLink("Haarlem's specials", "Wednesday", "Special", new {@class="Homepagelink"})</span> </h2>
</div>

<br />

<div id="image3">
    <img src="~/Content/Images/Home3.png" class="home-img-bottom" style="border-bottom:solid" />
    <h2 id="image3tekst"><span>@Html.ActionLink("Food", "Haarlem", "Restaurant", new { @class = "Homepagelink" })</span></h2>
</div>

<div id="image4">
    <img src="~/Content/Images/Home4.png" class="home-img-bottom" style="border-bottom:solid" />
</div>
<div id="image5">
    <img src="~/Content/Images/Home5.png" class="home-img-bottom-last" style="border-bottom:solid" />
</div>
