<div class="banner">
    <div class="banneritems">
        <div class="bannerfoto">
            <img src="~/Content/Images/Home1.png" width="500px" height="250px" style="margin-top:1%;" />
        </div>

        <div class="bannertekst">
            <h1> International Haarlem Film Festival</h1>
            <p>
                Every year the IHFF tries to offer you the best movies considering the desired theme.
                This years theme is 'Science of Fiction'. This webpage will offer you all avaible restaurants and films in Haarlem.
                You can also find multiple cultural events, for the real adventurers.
            </p>
        </div>
    </div>
</div>









